
<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
 <div class="ui left icon input">
 <i class="edit icon"></i>
    <%= f.text_field :title, placeholder: 'Title', autofocus: true %>
  </div></div>
<br>
  <div class="field">
   <div class="ui left icon input">
   <i class="info circle icon"></i>
    <%= f.text_field :description, placeholder: 'Description' %>
  </div></div>
  <br>

  <div class="field">
     <div class="ui right pointing label">Low Priority</div>
    <%= f.range_field :priority, :in => 1..10, :step => 1 %> 
    <div class="ui left pointing label">
      High Priority
    </div>
  </div>
<br>
  <div class="field">
    <%= f.label :due %>
    <%= f.datetime_select :due %>
  </div>
<br>
  <div class="actions">
    <%= f.submit class: 'ui basic primary button' %>
  </div>
<% end %>
<br>