<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/components/card.min.css" integrity="sha256-PgpU37VlFbkky1M4sQXWi4/+Vf7JqblZfu3uCmdE8kg=" crossorigin="anonymous" />
</head>
 <div class="mui--appbar-height"></div>


<div class="ui segment">
  Development segment <br>
  <p>current user tasks::<%=current_user.tasks.count%></p>
  <p> current user username:: <%=current_user.username%></p>
  <p> last log in on:: <%=current_user.last_sign_in_at.strftime("%b,%d, %G")%></p>
  <%=link_to 'Admin Area', admin_dashboard_path, class: 'ui secondary basic button' %>
</div>


 <div class="ui message">
  <i class="close icon"></i>
  <div class="header">
    Welcome!
  </div>
  <p>You can change your user icon by visiting <a href="http://en.gravatar.com/">Gravatar</a>.</p>
</div><br>

<div class="ui raised card" >
  <div class="content">
    <div class="header"><%=current_user.email%></div>
    <div class="meta">
      <span class="category" >Employee info and such</span>
    </div>
    <div class="description" >
      <p>This guy is this and that</p>
      <%= gravatar_for @user %>
</div>
    </div>
  
  <div class="extra content">
    <i class="check icon"></i>
    <%if current_user.username.blank? %>
    <p>Edit your profile to add a Username</p>
    <%else%>
    <%=current_user.username%>
  <%end%>

  </div>
</div>

<br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
    sollicitudin volutpat molestie. Nullam id tempor nulla. Aenean sit amet
    urna et elit pharetra consequat. Aliquam fringilla tortor vitae lectus
    tempor, tempor bibendum nunc elementum. Etiam ultrices tristique diam,
    vitae sodales metus bibendum id. Suspendisse blandit ligula eu fringilla
    pretium. Mauris dictum gravida tortor eu lacinia. Donec purus purus,
    ornare sit amet consectetur sed, dictum sitamet ex. Vivamus sit amet
    imperdiet tellus. Quisque ultrices risus a massa laoreet, vitae tempus sem
    congue. Maecenas nec eros ut lectus vehicula rutrum. Donec consequat
    tincidunt arcu non faucibus. Duis elementum, ante venenatis lacinia
    cursus, turpis massa congue magna, sed dapibus felis nibh sed tellus. Nam
    consectetur non nibh vitae sodales. Pellentesque malesuada dolor nec mi
    volutpat, eget vehicula eros ultrices.
  </p>
  <p>
    Aenean vehicula tortor a tellus porttitor, id elementum est tincidunt.
    Etiam varius odio tortor. Praesent vel pulvinar sapien. Praesent ac
    sodales sem. Phasellus id ultrices massa. Sed id erat sit amet magna
    accumsan vulputate eu at quam. Etiam feugiat semper imperdiet. Sed a sem
    vitae massa condimentum vestibulum. In vehicula, quam vel aliquet aliquam,
    enim elit placerat libero, at pretium nisi lorem in ex. Vestibulum lorem
    augue, semper a efficitur in, dictum vitae libero. Donec velit est,
    sollicitudin a volutpat quis, iaculis sit amet metus. Nulla at ante nec
    dolor euismod mattis cursus eu nisl.
  </p>
  <p>
    Quisque interdum facilisis consectetur. Nam eu purus purus. Curabitur in
    ligula quam. Nam euismod ligula eu tellus pellentesque laoreet. Aliquam
    erat volutpat. Curabitur eu bibendum velit. Cum sociis natoque penatibus
    et magnis dis parturient montes, nascetur ridiculus mus. Nunc efficitur
    lorem sit amet quam porta pharetra. Cras ultricies pellentesque eros sit
    amet semper.
  </p>


<script>
$(".close.icon").click(function(){
  $(this).parent().hide(400);
});
</script>