
<header id="header">
<nav>
  <div class="mui-appbar mui--appbar-line-height mui--z2">
    <div class="mui-container-fluid">
      <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer ">☰</a>
      <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
      <span class="mui--text-title mui--visible-xs-inline-block">Talis</span>
      <% if user_signed_in? %>
      <%=link_to 'Home', root_path, class: "mui-btn mui-btn--flat"%>
      <%=link_to 'Tasks', tasks_path, class: "mui-btn mui-btn--flat"%>
      <%=link_to 'Settings', pages_settings_path, class: "mui-btn mui-btn--flat"%>

   

      <span class="mui--pull-right">
      <%=link_to 'Sign out', destroy_user_session_path, class: "mui-btn mui-btn--flat", method: :delete %>
      </span>


   <span class="mui--pull-right">
      <%=link_to 'Profile', edit_user_registration_path, class: "mui-btn mui-btn--flat"%>
      </span>

      
      <%else%>
       <%=link_to 'Home', '#', class: "mui-btn mui-btn--flat"%>
       <%=link_to 'There', '#', class: "mui-btn mui-btn--flat"%>
       <span class="mui--pull-right">
       <%=link_to 'Sign in', new_user_session_path, class: "mui-btn mui-btn--flat"%>
       </span>
       <span class="mui--pull-right">
       <%=link_to 'Sign up', new_user_registration_path, class: "mui-btn mui-btn--flat"%>
       </span>
       <%end%>
    </div>
  </div>
  </nav>
</header>
