<div id="sidedrawer" class="mui--no-user-select mui--z2">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
  <span class="mui--text-title"><%=current_time.strftime("%b,%d, %G")%></span>
</div>
<div class="mui-divider"></div>
<ul>
  <li>
    <strong>Today's Agenda</strong>
    <ul>
    <li><span data-tooltip="Home" data-position="right center">
      <%=link_to semantic_icon('home'), root_path%>
      </span></li>
      <li><span data-tooltip="Tasks" data-position="right center">
      <%=link_to semantic_icon('edit'), tasks_path%>
      </span></li>
      <li><span data-tooltip="Profile" data-position="right center">
      <%=link_to semantic_icon('user'), edit_user_registration_path%>
      </span></li>
    </ul>
  </li>
  <li>
    <strong>Upcoming</strong>
    <ul>
      <li><a href="#">Thing 1</a></li>
      <li><a href="#">Thing 2</a></li>
      <li><a href="#">Thing 3</a></li>
    </ul>
  </li>
  <li>
    <strong>SuperCRM</strong>
    <ul>
    <li><span data-tooltip="Admin Area" data-position="right center">
      <%=link_to semantic_icon('dashboard'), admin_dashboard_path%>
      </span></li>

     <li><span data-tooltip="Settings" data-position="right center">
      <%=link_to semantic_icon('settings'), pages_settings_path%>
      </span></li> 
      <li><span data-tooltip="Contact" data-position="right center">
      <%=link_to semantic_icon('mail outline'), pages_contact_path%>
      </span></li>
      
    </ul>
  </li>
</ul>
</div>