<!DOCTYPE html>
<html>
  <head>
    <title>Talis:  <%=@page_title || "Admin Area"%></title>
    <%= csrf_meta_tags %>
    <script
  src="http://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
    <link href="//cdn.muicss.com/mui-0.9.9-rc2/css/mui.min.css" rel="stylesheet" type="text/css" />
	<script src="//cdn.muicss.com/mui-0.9.9-rc2/js/mui.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Playfair+Display|Quicksand|Raleway|Roboto+Slab" rel="stylesheet"> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" integrity="sha256-flVaeawsBV96vCHiLmXn03IRJym7+ZfcLVvUWONCas8=" crossorigin="anonymous"></script>
  </head>

  <body>
  <%=render 'layouts/side_drawer' %>
  <%=render 'layouts/header' %>
  <div id="content-wrapper">
  <div class="mui-container-fluid">
  <br>
  <br>
  <br>
  <%= semantic_flash %>
    <%= yield %>
  <%= debug(params) if Rails.env.development? %>
  </div>
</div>
  <%= render 'layouts/footer' %>
  </body>
</html>
